{{!< layout}}
<div class="aui-row">
    <div class="aui-item">
        <h3>Almost done...</h3>
        <p>This addon requires back-end servers to enable guest history functionality.
            <br />
            Please support me in keeping this add-on up and running</p>
            <br />
        <a href="/donate" target="_blank">
            <button class="aui-button aui-button-primary">Donate</button>
        </a>
    </div>
    <div class="aui-item" style="padding-top: 20px">
        <h3>Other than this you are all set</h3>
        <p>Regardless of whether you would like to chip in, you can use your instance of Guest History add-on while it is still here.</p>
    </div>
</div>
